#hero-section {
  width: 100%;
  height: 100vh;
  background-image: url("../images/temp.jpg");
  background-size: cover; /* For proper scaling of HERO image */
}

#hero-overlay {
  background-color: rgba(47, 60, 84, 0.75);
  width: 100%;
  height: 100%;
}

#center-content {
  width: 33%;
  padding-top: 25vh;
  margin-left: auto;
  margin-right: auto;
}

#hero-title {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#hero-subtitle {
  text-align: center;
  font-size: 32pt;
}

#hero-buttons {
  text-align: center;
  padding-top: 20px;
}

.hero-button {
  text-decoration: none;
  color: white;
  font-family: "Neuton", serif;
  padding: 7px 30px 8px 30px; /* top right bottom left (order) */
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 16pt;
  margin-left: 3px;
  margin-right: 3px;
  transition: background-color 0.1s;
}

.hero-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.1s;
}

#hero-socials {
  padding-top: 40px;
  text-align: center;
}

.hero-social-icon {
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
  filter: opacity(100%);
  transition: filter 0.25s;
}

.hero-social-icon:hover {
  filter: opacity(50%);
  transition: filter 0.25s;
}

h1 {
  font-weight: normal;
}
